<!-- <form [FormGroup]="loginform" (ngSubmit)="submit(loginform)">
    <div class="row">
        <div class="col-md-6">
            <label for="name">name</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" formControlName="name" placeholder="enter name"/>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="age">age</label>
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" formControlName="age" placeholder="enter age"/>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="emailid">emailid</label>
        </div>
        <div class="col-md-6">
            <input type="emailid" class="form-control" formControlName="emailid" placeholder="enter email"/>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="password">password</label>
        </div>
        <div class="col-md-6">
            <input type="pwd" class="form-control" formControlName="pwd" placeholder="enter password"/>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="name">re-enter password</label>
        </div>
        <div class="col-md-6">
            <input type="pwd" class="form-control" formControlName="rpwd" placeholder="reenter password"/>
        </div>

    </div>
    <div class="row">
        
        <div class="col-md-6">
            <input type="button" class="btn btn-primary" value="submit">
        </div>

    </div>
</form> -->
