
<category></category>



<router-outlet></router-outlet>

<!--<app-navbar></app-navbar>

<fortune></fortune>

<home></home>
<reactiveforms></reactiveforms>
<templatedrivenforms></templatedrivenforms>

{{5*65}}
<div>
    <input class="form-control" [(ngModel)]="title" [placeholder]="title">
</div>
   
<fortune></fortune>
<div *ngIf="isActive; else elseblock">
<h1>user is active</h1>
</div>

<ng-template #elseblock>
    <h1 style="color:blue;">inactive</h1>
</ng-template>
<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<div [ngStyle]="{'color':'blue'}">
    <p>hello machine</p>
    </div>

<table class="table">
    <tr>
        <th>name</th>
        <th>age</th>
        <th>place</th>
    </tr>
    <tr *ngFor="let s of students" [ngStyle]="{'background-color':getColor(s.place)}"> 
        <td>{{s.name}}</td>
        <td>{{s.age}}</td>
        <td>{{s.place}}</td>
        </tr>
</table>
<div [ngClass]="isSpecial ? 'special': 'notsospecial'">
<h1>this is special</h1>

</div>
<router-outlet></router-outlet>
<home></home>
<reactiveforms></reactiveforms>
<templatedrivenforms></templatedrivenforms>

 
    <h1 backg>
        hello from me
 </h1>
 
<div *customFor="isActive">
    <h1>ORANGE</h1>
</div>-->

